.home .home-slider .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
  }
  
  .home .home-slider .slide .content {
    flex: 1 1 45rem;
  }
  
  .home .home-slider .slide .image {
    flex: 1 1 45rem;
  }
  
  .home .home-slider .slide .image {
    width: 100%;
  }
  
  .home .home-slider .slide .content span {
    color: var(--green);
    font-size: 2.5rem;
  }
  
  .home .home-slider .slide .content h3 {
    color: var(--black);
    font-size: 7rem;
  }
  
  .home .home-slider .slide .content p {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: 0.5rem 0;
    line-height: 1.5;
  }
  
  .image img {
    width: 100%;
    height: 100%;
  }
  
  .swiper-pagination-bullet-active {
    background: var(--green);
  }
  