
.order form{
    max-width:90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:.1rem solid rgba(0, 0, 0, .2);
    background:#fff;
    padding:1.5rem;
    margin:0 auto;
  }
  
  .order form .inputbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  .order form .inputbox .input{
  width: 49%;
  }
  
  .order form .inputbox .input span{
  display:block;
  padding:.5rem;
  font-size: 1.5rem;
  color:var(--light-color);
  }
  
  .order form .inputbox .input input,
  .order form .inputbox .input textarea{
  background:#eee;
  border-radius: .5rem;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width:100%;
  }
  
  .order form .inputbox .input input:focus,
  .order form .inputbox .input textarea:focus{
      border:.1remsolid var(--green);
  }
  
  .order form .inputbox .input textarea{ 
  height:20rem;
  resize: none;
  }
  
  .order form   .btn{
  margin-top: 0;
  }
  .resto{
    text-align: center;
    background-color: rgb(71, 39, 211);
    color:white;
    margin-left: 650px;
    border: 1px 1px solid;
  }
  .gpay{
     text-align: center;
     margin-left: 500px;
  }